@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 5;
    padding: 5;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(111, 177, 219);
    color: black;
}

.navContainer {
    display: flex;
    justify-content: center;
    margin: 20px 40px;
}

.navContainer .headerName {
    font-size: 30px;
    font-weight: 1000;
}

.container {
    padding: 20px 70px;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.searchContainer {
    text-align: center;
    border: solid;
    border-radius: 1rem;
}

.searchContainer #searchTitle {
    font-size: 30px;
    font-weight: 700;
    padding: 30px 30px;

}

#location.input {
    margin: 10px;
    width: 40%;
    height: 35px;
    border: 10px 10px;
    border-radius: 0.5rem;
}

#searchButton.searchButton {
    height: 30px;
    width: 20%;
}

button {
    border: solid;
    font-size: 15px;
    margin: 5px 10px;
    height: 30px;
    width: 30%;
    background-color: rgba(218, 227, 213, 0.3);
    
}
.searchContainer .searchButton {
    cursor: pointer;
}

#currentTitle{
    font-size: 20px;
}
.current-info .others {
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 24, 27, 0.3);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid black;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

#date.date{
    padding-bottom: 40px;
}


.future-forcast {
    background: rgba(24, 24, 27, 0.3);
    padding: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}


.column-md {
    display: flex;
    flex-direction: column;
    flex: wrap;
    align-items: center;
    justify-content: center;
    
    margin: 10px;
    
}

#futureForcast.fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.tile {
    border: solid;
    border-radius: 1rem;
    margin: 10px 0;
    padding: 5px 15px;
}

#currentCity.currentCity {
    font-size: 30px;
    font-weight: 700;
}


